<ion-view view-title="Add a Toilet" class="addToilet">
   <ion-content class="has-header" padding="true">
        <div class="fullHW">
            <!-- google map -->
            <div class="google-map" data-tap-disabled="true" id="gmap"></div>

            <button class="button button-block camera-click" ng-click="takePicture()">
                <!-- <div class="circle"> -->
                <img src="img/camera-icon.png" alt="take a picture">
                <!-- </div> -->
            </button>
            <form class="add-toilet-form">
                <div class="spacer"></div>
                <label class="item auto-fill">
                    <input type="text" placeholder="Auto Fill Address" ng-model="toilet.name">
                </label>
                <ion-toggle class="toggle-toilet-type" name="Free" ng-model="toilet.mode" toggle-class="toggle-orange">Free</ion-toggle>
                <div class="timing">
                    <span class="item">
                        Timing
                    </span>
                    <input type="time" ng-model="toilet.openTime">
                    <input type="time" ng-model="toilet.closeTime">
                </div>
                <div class="rating">
                    <span class="item">
                        Rating
                    </span>
                    <ionic-ratings ng-model="toilet.mode" ratingsobj='ratingsObject'></ionic-ratings>
                </div>
            </form>
            <div class="action-btn">
                <div class="btn button-cancel">Cancel</div>
                <div class="btn button-submit" ng-click="addNewToilet()"> Add</div>
            </div>
        </div>
    </ion-content>
</ion-view>