<ion-view view-title="Find A Toilet" class="findAToilet">
    <ion-content>
        <form class="searchInput">
            <label class="item item-input" name="search-toilet">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="locationsearch" placeholder="Search alternative address" next-input>
            </label>
        </form>
        <div class="button-bar map-toggler">
            <a ui-sref="app.home.maps" class="map-toggle button activeBtn icon-right ion-ios-location-outline">Map</a>
            <a ui-sref="app.home.maplist" class="map-toggle button icon-right ion-ios-list-outline">List</a>
        </div>
        
  
        <div ui-view="" class="full-height"></div>

    </ion-content>
    
    <div class="tabs footer" ng-click="sortToiletByMode($event)">

      <a class="tab-item active" ng-class="{active: mode === 'FREE'}" data-mode="free">
        <i class="icon ion-pricetag"></i>
        Free
      </a>
      <a class="tab-item" ng-class="{active: mode === 'PAID'}" data-mode="paid">
        <i class="icon ion-cash"></i>
        Paid
      </a>
      <a class="tab-item" ng-class="{active: mode === 'MALLS'}" data-mode="shopping">
        <i class="icon ion-bag"></i>
        Malls
      </a>
      <a class="tab-item" ng-class="{active: mode === 'STATIONS'}" data-mode="gas">
        <i class="icon ion-model-s"></i>
        Gas Station
      </a>
    </div>
</ion-view>