<div class="full-height">
	<ui-gmap-google-map 
		center="map.center" 
		centered="true" 
		ng-cloak 
		zoom="map.zoom" 
		draggable="true" 
		options="map.options" 
		data-tap-disabled="true" 
		refresh="true" 
		idKey="map.id">
		
		<!-- <ui-gmap-marker 
			coords="marker.coords" 
			options="marker.options" 
			idkey="marker.id">
		</ui-gmap-marker> -->
	 
		<ui-gmap-markers 
			models="map.markers" 
			doCluster="false" 
			coords="'coords'" 
			icon="'mode'" 
			click="'click'" 
			fit='true' 
			events="map.markersEvents"
			idKey="'id'" style="position: relative;">

				<ui-gmap-window 
					doRebuildAll="true" 
					show="map.window.show" 
					coords="map.window.model.coords" 
					options="map.window.options" 
					closeClick="map.window.closeClick()" 
					templateUrl="'templates/markers.tpl.html'">
		            <div style="color: black">
		                {{map.window.title}}
		            </div>
		        </ui-gmap-window>

		</ui-gmap-markers> 
		
	</ui-gmap-google-map>
</div>
