<!-- <ion-view view-title="Find A Toilet" class="map-list fullHW"> -->
  <div class="map-list">
    <ion-list class="capitalize toi-list">
      <div class="emptyMsg" ng-show="!vm.hasData">No toilet found.</div>
      <ion-item ng-repeat="location in vm.map.markers | filter:locationsearch | orderBy: ['driving.distance', 'driving.duration']" class="location" ng-click="test($event, $index)">
      	<figure class="toilet-type">
      		<img src="img/icon-toilet-{{location.mode}}.png" alt="">
      		<figcaption>
            <i class="ion-ios-star" ng-repeat="selected in vm.getArrayOfRating(location.rating)"></i>
            <i class="ion-ios-star disable" ng-repeat="nonSelected in vm.getArrayOfRating(location.rating, 5)"></i>
          </figcaption>
      	</figure>
      	<article class="info ellipsis">
	        <h3 class="toi-location-name ellipsis">{{location.name}}</h3>
	        <!-- <div class="landmark ellipsis c-355c7d ">{{location.address}}</div> -->
	        <div class="distance ellipsis">
	        	<i class="ion-ios-location"></i>
	        	<span class="capitalize c-355c7d">{{location.driving.distance}}</span>
	        </div>
	        <div class="transportMode">
	        	<i class="ion-model-s"></i>
	        	<span>{{location.driving.duration}}</span>
	        	<i class="ion-android-walk"></i>
	        	<span>{{location.time.walk}}</span>
	        </div>
      	</article>
      </ion-item>
    </ion-list>
  </div>
<!-- </ion-view> -->
