<ion-view view-title="Find A Toilet" class="map-list">
  <ion-content>
    <ion-list class="capitalize toi-list">
      <ion-item ng-repeat="location in map.markers | filter:locationsearch | orderBy: ['driving.distance', 'driving.duration']" class="location" ui-sref="app.home.map({lid: location.id})">
      	<figure class="toilet-type">
      		<img src="img/icon-toilet-free.png" alt="">
      		<figcaption>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </figcaption>
      	</figure>
      	<article class="info">
	        <h3 class="toi-location-name ellipsis">{{location.name}}</h3>
	        <div class="landmark ellipsis">{{location.address}}</div>
	        <div class="distance ellipsis">
	        	<i class="ion-ios-location"></i>
	        	<span class="capitalize c-355c7d">{{location.driving.distance}}</span>
	        </div>
	        <div class="transport-mode">
	        	<i class="ion-android-bus"></i>
	        	<span>{{location.time.bus}}</span>
	        	<i class="ion-model-s"></i>
	        	<span>{{location.driving.duration}}</span>
	        	<i class="ion-android-walk"></i>
	        	<span>{{location.time.walk}}</span>
	        </div>
      	</article>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
