<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list class="left-menu full-height">
        <ion-item menu-close ui-sref="app.home.maps" class="bg-3F96D9">
          <i class="ion-ios-home-outline"></i> Home
        </ion-item>
        <ion-item menu-close ui-sref="app.add" class="bg-3A86C1">
           <i class="ion-ios-person-outline"></i> Add A Toilet
        </ion-item>
      <ion-item menu-close ui-sref="app" ng-click="login()" class="bg-2A94BC">
          <i class="ion-ios-person-outline"></i> FAQ's
        </ion-item>
        <ion-item menu-close class="bg-4EACD0" ui-sref="app.addmap">
          <i class="ion-ios-star-outline"></i> Rate the App
        </ion-item>
        <ion-item menu-close href="#/app/search" class="bg-4A7EB8">
          <i class="ion-ios-chatboxes-outline"></i> Feedback
        </ion-item>
        <ion-item menu-close href="#/app/search" class="bg-605398">
          <i class="ion-ios-paper-outline"></i> Terms &amp; Condition
        </ion-item>
        <ion-item menu-close href="#/app/search" class="bg-524364">
          <i class="ion-ios-people-outline"></i> About Us
        </ion-item>
        <ion-item menu-close href="#/app/search" class="bg-524364">
          <i class="ion-ios-email-outline"></i> Contact Us
        </ion-item>
        <ion-item menu-close href="#/app/search" class="bg-524364">
          Spread the Word
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>