.bar.bar-stable{
	background-color: #355c7d;
	color: #fff;
}

.bar.bar-stable .title,
.bar-stable .button.button-clear {
	color: #fff;	
}

.item-input{
	background: #3b81b3;
}

input[type="search"],
input::-webkit-input-placeholder,
.placeholder-icon {
	color: #C5E2F7;
}

.map-toggler {
	width: 90%;
    height: 50px;
    position: absolute;
    z-index: 1;
    left: 5%;
}

.map-toggler > .button:before, 
.button-bar > .button .icon:before {
	line-height: 33px;
	position: relative;

}

.map-toggle {
	min-height: 35px;
	margin-top: 10px;
    overflow: visible !important;
    border: 0px;
    color: #559fd3;
    background: #fdfefc;
}

.map-toggle.icon-right:before {
	float: none;
	margin-right: 7px;
	line-height: 38px;
}

.map-toggle.activeBtn:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fb9828;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
}

.activeBtn {
	background: #fb9828;
	color: #fff;
}

.item-complex .item-content,
.item {
	height: 14.485714%;
	border-style: none;
	color: #fff;
}

.item.item-complex .item-content {
	padding: 2em 49px 3em 1.5em;
	font-size: 1.2em;
}

.item.item-complex .item-content i {
	margin-right: .5em;
	font-size: 1.3em;
}

.bg-3F96D9 a{background: #3F96D9 !important;}
.bg-3A86C1 a{background: #3A86C1 !important;}
.bg-2A94BC a{background: #2A94BC !important;}
.bg-4EACD0 a{background: #4EACD0 !important;}
.bg-4A7EB8 a{background: #4A7EB8 !important;}
.bg-605398 a{background: #605398 !important;}
.bg-524364 a{background: #524364 !important;}


.scroll-content.ionic-scroll .left-menu .list,
.scroll-content.ionic-scroll .scroll {
	height: 100%;
} 

.loading-container .loading {
	background: transparent;
}