/* Empty. Add your own CSS if you like */

/*************** GLOBAL ***************/
html, body, .container {
	height: 100%;
	width: 100%;
}

.spacer-10 {
	margin-top: 10px;
}

.pad-10 {
	padding: 10px;
}

.google-map {
	height: 97%;
	margin-top: 2px;
}

.full-height {
    height: 93%;
}

.capitalize {
	text-transform: capitalize;
}

.angular-google-map-container, .angular-google-map { 
	height: 100%; 
}

.findAToilet .scroll {
	height: calc(93% - 55px);
  	margin-top: 5px;
}

.findAToilet .scroll .map {
	height: 81%;
}

/*.addAToilet .angular-google-map-container { height: 200px; }*/
.addAToilet .gmap {
	position: relative;
}

.addAToilet .scroll{calc(100% - 47px)}

.addAToilet .gmap .camera{
	width: 40px;
	height: 40px;
	background: rgb(215, 215, 215);
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
	border-radius: 4px;
	opacity: 0.4;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
	cursor: pointer;
}

.addAToilet .gmap .camera i {
	margin-left: 5px;
	line-height: 40px;
}

.addAToilet .scrollable-container {
	height: 160px;
}

.addAToilet .scrollable-container .scrollable {
	height: 168px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.gm-style-mtc,
img[src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2_hdpi.png"],
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png"],
a[href="https://www.google.com/intl/en-US_US/help/terms_maps.html"]{
	display:none
}

.toi-icon {
	float: right;
	display: inline-block;
}

.toi-location-name {
	display: inline-block;	
	width: 250px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	white-space: nowrap;
}

.map-container {
	height: 100%; width: 100%; position: relative;
}

.ellipsis {
    overflow: hidden;
    text-wrap: none;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/************ COLOR CODE ***********/
.c-355c7d {
	color: #355c7d;
}

.bg-3F96D9 {background: #3F96D9 !important;}
.bg-3A86C1 {background: #3A86C1 !important;}
.bg-2A94BC {background: #2A94BC !important;}
.bg-4EACD0 {background: #4EACD0 !important;}
.bg-4A7EB8 {background: #4A7EB8 !important;}
.bg-605398 {background: #605398 !important;}
.bg-524364 {background: #524364 !important;}

/************ COLOR CODE ***********/



/************ LEFT MENU ***********/
.left-menu {
	color: #fff;
}

/************ LEFT MENU ***********/






/************ MAP ******************/

.searchInput {
	margin-top: 40px;
}

.findAToilet.pane .scroll-content {
	height: calc(100% - 45px);
}


/************ MAP ******************/




/************ MAP LIST *************/

.map-list {
	margin-top: 110px;
}

.map-list .location{
	width: 100%;
	font-size: 1em;
}

.map-list .toilet-type {
	display: inline-block;
	width: 50px;
	vertical-align: top;
}

.toilet-type img{
    max-width: 100%;
    margin-bottom: 1em;
    margin-left: 5px;
}

.map-list .toilet-type figcaption {
	text-align: center;
}

.map-list h3 {
	color: #fb931e;
	font-size: 1.1em;
	margin: 0;
}

.map-list .landmark {
	text-transform: capitalize;
}

.map-list .info {
	display: inline-block;
	width: calc(90% - 70px);
	float: right;
}

.map-list .distance i{
	color: #fb931e;
	font-size: 1.2em; 
}

.map-list .transport-mode{
	font-size: 1.8em;
	margin-top: .3em;
	color: #355c7d;
}

.map-list .transport-mode span{
    font-size: 0.5em;
    margin-right: calc(35% - 4.8em);
}

.map-list .transport-mode i {
	vertical-align: middle;
}

/************ MAP LIST *************/




/************ ADD A TOILET *************/
.addToilet {background: #F7F6F6;}
.addToilet .scroll-content {height: calc(100% - 43px);}
.addToilet .scroll.padding {
	height: 100%;
	position: relative;
}

.addToilet .action-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.addToilet .action-btn .btn {
	width: 50%;
	margin: 0;
	padding: 0;
	bottom: 0;
    position: relative;
    float: left;
    min-height: 47px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}

.addToilet .button-submit {
	background: #FA931E;
	color: #fff;
}

.addToilet .button-cancel {
	background: #426884;
	color: rgb(149, 194, 234);
}

.addToilet .item {
	background: none;
}

.addToilet .padding {
	padding: 0;
}

.addToilet .camera-click {
	border-color: #f8901b;
    background-color: rgba(248, 144, 27, 0.5);
	padding-bottom: 4px;
    color: #fff;
    cursor: pointer;
    height: 10%;
    margin-top: -8%;
    z-index: 1;
}

.camera-click .circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: #f8901b;
	margin: 0 auto;
}

.toggle-orange input:checked + .track{
	background-color: rgba(248, 144, 27, 0.5);
	border-color: #f8901b;
}

.addToilet .toggle-small .track {
	background: rgba(50, 102, 140, 0.66);
}

.addToilet .toggle-small .handle {
	box-shadow: 0 2px 5px rgba(66, 104, 132, 0.52);
}

.addToilet .toggle .handle {
	background: #426884;
}

.camera-click .circle i {
    color: #3C81B3;
    font-size: 38px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    margin-top: -17px;
}

.camera-click .circle div {
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
}

.addToilet .camera-click:active,
.toggle-orange input:checked + .track .handle {
	background-color: #f8901b;
}

.add-toilet-form {
	font-size: 24px;
	background: #F7F6F6;
	position: relative;
	bottom: 0;
	height: 50%;
    width: 100%;
    z-index: 0;
}

.auto-fill {
    border: 1px solid #E6E6E5;
    border-radius: 5px;
    width: 100%;
    color: #616161;
    padding: 5px;
}

.auto-fill input {
	width: 100%;
	border: 1px solid #e6e6e5;
	border-radius: 5px;
	height: 40px;
	padding: 5px;
	color: #6B6A6A;
}

.ionic_ratings{
	display: inline-block;
	font-size: 24px;
	position: absolute;
    line-height: 48px;
    left: 92px;
}

.rating .item,
.timing .item {
	display: inline-block;
}

.timing input {
    background-color: transparent;
    display: inline-block;
    margin-top: -35px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 5px;
    width: 30%;
    padding-bottom: 10px;
    padding-left: 10px;
}

.timing input:last-child {
	margin-right: 0;
}

.toggle-toilet-type div {
	display: inline-block;
}

.toggle-toilet-type label {
	left: 85px;
	display: inline-block;
	width: 45px;
}

/************ ADD A TOILET *************/





/************ FOOTER *************/

.tabs.footer {
	background: #3B81B3;
	border-bottom: 0;
	border-top: 1px solid #d45254 !important;
	height: 45px;
	color: #fff;
	line-height: 40px;
}


/************ FOOTER *************/
