/*************** GLOBAL ***************/
html, body, .container {
	height: 100%;
	width: 100%;
}

.inner-container {
    width: 100%;
    height: calc(100% - 95px);
    margin-top: 45px;
}

.fullHW {
	width: 100%;
	height: 100%;
}

.emptyMsg {
	text-align: center;
    width: 70%;
    color: #3B81B3;
    margin: 0 auto;
    margin-top: 60%;
    height: 50px;
    line-height: 50px;
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.1);
}

.ellipsis {
    overflow: hidden;
    text-wrap: none;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/******* SIDE MEU *******/
.map-view gmap {
	width: 100%;
	height: 100%;
}

/****** GOOGLE MAP ******/
.gm-style-mtc,
.gmnoprint,
img[src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2_hdpi.png"],
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png"],
a[href="https://www.google.com/intl/en-US_US/help/terms_maps.html"]{
	display:none
}


/******* FIND A TOILET *******/
.findAToilet .fullHeight {
	width: 100%;
	height: calc(100% - 45px);
}

.findAToilet .fullHeight #gmap {
	width: 100%;
	height: 100%;
}

/******* FIND A TOILET *******/



/******* ADD A TOILET *******/
.map-list {
	width: 100%;
	height: calc(100% - 45px);
	margin-top: 50px;
	background: #F7F6F6;
	color: #8A8A8A;
	overflow: scroll;
}

.map-list figure,
.map-list article {
	display: inline-block;;
	color: #8A8A8A;
}

.map-list h3 {
	color: #fb931e;
	font-size: 1em;
}

.map-list figure,
.map-list figcaption {
	width: 2.6em;
	text-align: center;
	color: #fb931e;
}

.map-list figcaption {
	margin-left: -11px;
}
.map-list figcaption .ion-ios-star.disable {
	color: #C3C1C1;
}

.map-list figure img {
	max-width: 100%;
}

.map-list figcaption i {
	font-size: 	15px;
	margin-left: .03em;
}

.map-list article {
	margin-top: .5em;
	margin-left: 2em;
    vertical-align: top;
    position: absolute;
}

.map-list article * {
	height: 1.52em;
	width: 90%;
}

.map-list .space {
	width: 100%; 
	height: 43%;
}

.map-list .distance {
	font-size: .9em;
	color: #387BAB;
}

.map-list .distance .ion-ios-location {
	color: #FA931E;
	margin-left: 1px;
	font-size: 1.2em;
}

.map-list .transportMode i:first-child {
	margin-left: 0;
}
.map-list .transportMode i{
	margin-left: 2.5em;
}

.map-list .transportMode span {
	font-size: .8em;
	color: #387BAB;
}


/********* ADD A TOILET ************/


.addToilet .scroll-content.ionic-scroll .scroll {
	height: 100%;
	overflow-y: scroll;
}

.addToilet .padding {
	padding: 0;
}

.addToilet #gmap{
	width: 100%;
	height: 40%;
}

.addToilet .camera-click {
	border-color: #f8901b;
	background-color: rgba(248, 144, 27, 0.5);
	padding: .1em 0;
	color: #fff;
	cursor: pointer;
	height: 10%;
	z-index: 10000;
	position: absolute;
	top: 30%;
}

.addToilet .camera-click img {
	max-height: 100%;
}
.addToilet .spacer { height: 10%;}

.addToilet .add-toilet-form {
	font-size: 24px;
	background: #F7F6F6;
	position: relative;
	bottom: 0;
	height: 60%;
    width: 100%;
    z-index: 0;
}

.addToilet .auto-fill input {
	width: 100%;
	border: 1px solid #e6e6e5;
	border-radius: 5px;
	height: 40px;
	padding: 5px;
	color: #6B6A6A;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: #ccc;
}


/********* ADD A TOILET ************/


/*
.addToilet .scroll.padding {
	height: 100% !important;
	position: relative;
}

.addToilet .action-btn {
    width: 100%;
    height: 47px;
    position: absolute;
    bottom: 0;
}

.addToilet .action-btn .btn {
	width: 50%;
	margin: 0;
	padding: 0;
	bottom: 0;
    position: relative;
    float: left;
    min-height: 47px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 52px;
    cursor: pointer;
    border-radius: 0;
}

.addToilet .button-submit {
	background: #FA931E;
	color: #fff;
}

.addToilet .button-cancel {
	background: #426884;
	color: rgb(149, 194, 234);
}

.addToilet .item {
	background: none;
	color: #3179AE;
	border-bottom: 1px solid rgba(204, 204, 204, 0.61);
}

.addToilet .padding {
	padding: 0;
}

.addToilet .camera-click {
	border-color: #f8901b;
    background-color: rgba(248, 144, 27, 0.5);
	padding-bottom: 4px;
    color: #fff;
    cursor: pointer;
    height: 10%;
    margin-top: -8%;
    z-index: 1;
}

.camera-click .circle{
	width: 100%;
    height: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 1.3em;
    letter-spacing: .1em;
}

.camera-click .circle img {
	max-height: 100%;
}

.toggle-orange input:checked + .track{
	background-color: rgba(248, 144, 27, 0.5);
	border-color: #f8901b;
}

.addToilet .toggle-small .track {
	background: rgba(50, 102, 140, 0.66);
}

.addToilet .toggle-small .handle {
	box-shadow: 0 2px 5px rgba(66, 104, 132, 0.52);
}

.addToilet .toggle .handle {
	background: #426884;
}

.camera-click .circle i {
    color: #3C81B3;
    font-size: 38px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    margin-top: -17px;
}

.camera-click .circle div {
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
}

.addToilet .camera-click:active,
.toggle-orange input:checked + .track .handle {
	background-color: #f8901b;
}

.add-toilet-form {
	font-size: 24px;
	background: #F7F6F6;
	position: relative;
	bottom: 0;
	height: 50%;
    width: 100%;
    z-index: 0;
}

.auto-fill {
    border: 1px solid #E6E6E5;
    border-radius: 5px;
    width: 100%;
    color: #616161;
    padding: 5px;
}

.auto-fill input {
	width: 100%;
	border: 1px solid #e6e6e5;
	border-radius: 5px;
	height: 40px;
	padding: 5px;
	color: #6B6A6A;
}

.ionic_ratings{
	display: inline-block;
	font-size: 24px;
	position: absolute;
    line-height: 48px;
    left: 92px;
}

.rating .item,
.timing .item {
	display: inline-block;
}

.timing input {
    background-color: transparent;
    display: inline-block;
    margin-top: -35px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 5px;
    width: 30%;
    padding-bottom: 10px;
    padding-left: 10px;
}

.timing input:last-child {
	margin-right: 0;
}

.toggle-toilet-type div {
	display: inline-block;
}

.toggle-toilet-type label {
	left: 85px;
	display: inline-block;
	width: 45px;
}*/


/******* ADD A TOILET *******/





/************ FOOTER *************/

.tabs.footer {
	background: #3B81B3;
	border-bottom: 0;
	border-top: 2px solid #d45254 !important;
	height: 45px;
	color: #fff;
	line-height: 40px;
	padding-top: 0px !important;
}

.tab-item.active {
    background: #105789;
    box-shadow: 0px 0px 4px 0px rgb(70, 117, 150);
}

.footer .mta-icon {
	text-indent: -9999px;
}

.footer .mta-icon-free {border-bottom: 2px solid #d45254;}
.footer .mta-icon-paid {border-bottom: 2px solid #d2d153;}
.footer .mta-icon-gas {border-bottom: 2px solid #10a4a8;}
.footer .mta-icon-shopping {border-bottom: 2px solid #9659cf;}

.footer .mta-icon-free div{
	background: url('../img/footer-icon-free.png') no-repeat;
	background-size: 30%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.mta-icon-free.active div {
	background: url('../img/footer-icon-active-free.png') no-repeat;
	background-size: 30%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.footer .mta-icon-paid div {
	background: url('../img/footer-icon-paid.png') no-repeat;
	background-size: 30%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.mta-icon-paid.active div {
	background: url('../img/footer-icon-active-paid.png') no-repeat;
	background-size: 30%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.footer .mta-icon-gas div {
	background: url('../img/footer-icon-gas.png') no-repeat;
	background-size: 25%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.mta-icon-gas.active div {
	background: url('../img/footer-icon-active-gas.png') no-repeat;
	background-size: 25%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.footer .mta-icon-shopping div {
	background: url('../img/footer-icon-shopping.png') no-repeat;
	background-size: 25%;
    background-position-x: 50%;
    background-position-y: 65%;
}

.mta-icon-shopping.active div {
	background: url('../img/footer-icon-active-shopping.png') no-repeat;
	background-size: 25%;
    background-position-x: 50%;
    background-position-y: 65%;
}
/************ FOOTER *************/